.redondeo{
    border-radius: 40px;
    background: rgb(104, 120, 212);
    overflow: hidden;
}
.redondeo-form {
    border-radius: 10px; 
    margin: 10px; 
    overflow: hidden; 
    border: 2px solid #ccc;
}
.caja-texto {
    box-shadow: 0 0 10px rgba(53, 52, 52, 0.5); /* Sombra roja */
    padding: 5px; /* Espacio alrededor del texto dentro de la caja */
}
/* Card Inicio de sesión*/
.custom-card {
    width: 18rem;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.custom-card:hover {
    transform: scale(1.10);
    .color-changing-text {
        animation: changeColor 3s infinite; /* Cambia de color en 5 segundos, repite infinitamente */
    }
}
.custom-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}